*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #000000;
	color: #ffffff;
	background: url(Img/inicio3.jpg) no-repeat center center/cover;
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
}